body {
  width: 100%;
  height: 100%;
  background: #e3eef8;
  font-family: "Karla", sans-serif;
}

header {
  height: 847px;
}

.logo {
  margin-left: 35px;
  margin-top: 11.5px;
  a {
    display: flex;
    align-items: center;
    width: 50.52px;
    height: 14px;
    left: 35px;
    top: 9px;
    text-decoration: none;

    p {
      font: {
        style: normal;
        family: Rubik;
        size: 12px;
        weight: normal;
      }

      line-height: 14px;
      letter-spacing: -1px;

      color: #1f1f1f;
    }
  }
  .burger {
    width: 15px;
    height: 10px;
    left: 375px;
  }
}

.hero {
  margin: auto;
  width: 361px;
  height: 276px;
  nav {
    display: none;
  }

  .present {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    margin-top: 45px;

    color: #666666;
  }

  h1 {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;

    text-align: center;
    letter-spacing: -4px;

    color: #1f1f1f;
  }

  .create {
    width: 65%;
    margin: auto;
    text-align: center;
    span {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      /* or 167% */

      letter-spacing: -0.4px;

      color: #666666;
    }
  }

  .form {
    margin-top: 2%;
    form {
      display: flex;
      margin: auto;
      gap: 5px;
    }

    :nth-child(1) {
      width: 65%;
      padding: 1.5%;
      border: none;
      border-radius: 3px;
      ::placeholder {
        font-size: 10px;
      }
    }

    :nth-child(2) {
      background: #fc593b;
      border-radius: 5px;
      padding: 0px 20px;
      border: none;
      font-weight: bold;
      color: white;

      font-size: 12px;
      text-align: center;
    }
  }

  .rating {
    p {
      font-family: Karla;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      /* identical to box height */

      text-align: center;
      letter-spacing: -0.32381px;

      color: #878b90;
    }
  }
}

.features {
  margin: auto auto 60px auto;
  width: 300px;
  height: 276px;
  ul {
    list-style-type: none;
    width: 312px;

    .feature1 .icone,
    .feature2 .icone,
    .feature3 .icone {
      transform: translate(-18%, 163%);
    }
    auto .feature1 .ft2 p,
    .feature2 .ft2 p,
    .feature3 .ft2 p {
      line-height: 28px;
      font-size: 15px;
    }

    .feature1 img,
    .feature2 img,
    .feature3 img {
      max-width: 27px;
    }
  }
}
.content1 {
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 804px;
  margin-bottom: 67px;

  .background {
    position: absolute;
    height: 405px;
    padding-top: 272px;
    left: 0px;
    right: 0px;
    top: 986px;
    background-color: #258aff;
    z-index: -1;

    .container {
      color: white;
      margin: auto;
      width: 75%;
      height: fit-content;

      .button1 {
        border: 0;
        background: #ffffff;
        border-radius: 5px;
        padding: 9px 60px 8px 59px;
        font-size: 12px;
        color: #258aff;
      }
    }

    img {
      position: absolute;
      z-index: 1;
      display: block;
      margin: auto;
    }

    .content1_1 {
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      letter-spacing: 2.8125px;
      text-transform: uppercase;
      width: 32%;
    }
    .content1_2 {
      width: 80%;
    }
    .content1_3 {
      line-height: 32px;
      width: 88%;
    }
  }
}

.content2 {
  margin: auto;
  width: 300px;

  .content2_1 {
    line-height: 18px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #258aff;
  }

  .content2_2 {
    font-weight: bold;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -1.52632px;
  }

  .content2_3 {
    font-size: 15px;
    line-height: 32px;
    color: #666666;
  }

  .elem1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
      width: 20px;
      height: 20px;
      background: #258aff;
      border-radius: 50%;
      padding: 13px;
    }

    .elem1_1 {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
    }

    .elem1_2 {
      line-height: 28px;
      text-align: center;
      color: #666666;
      width: 90%;
      padding-bottom: 54px;
    }
  }
}
