body {
  width: 100%;
  height: 100%;
  background: #e3eef8;
  font-family: "Karla", sans-serif;
}

header {
  height: 847px;
}

.logo {
  margin-left: 35px;
  margin-top: 11.5px;
  a {
    display: flex;
    align-items: center;
    width: 50.52px;
    height: 14px;
    left: 35px;
    top: 9px;
    text-decoration: none;

    p {
      font: {
        style: normal;
        family: Rubik;
        size: 12px;
        weight: normal;
      }

      line-height: 14px;
      letter-spacing: -1px;

      color: #1f1f1f;
    }
  }
  .burger {
    width: 15px;
    height: 10px;
    left: 375px;
  }
}

.hero {
  margin: auto;
  width: 361px;
  height: 276px;
  nav {
    display: none;
  }

  .present {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    margin-top: 45px;

    color: #666666;
  }

  h1 {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;

    text-align: center;
    letter-spacing: -4px;

    color: #1f1f1f;
  }

  .create {
    width: 65%;
    margin: auto;
    text-align: center;
    span {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      /* or 167% */

      letter-spacing: -0.4px;

      color: #666666;
    }
  }

  .form {
    margin-top: 2%;
    form {
      display: flex;
      margin: auto;
      gap: 5px;
    }

    :nth-child(1) {
      width: 65%;
      padding: 1.5%;
      border: none;
      border-radius: 3px;
      ::placeholder {
        font-size: 10px;
      }
    }

    :nth-child(2) {
      background: #fc593b;
      border-radius: 5px;
      padding: 0px 20px;
      border: none;
      font-weight: bold;
      color: white;

      font-size: 12px;
      text-align: center;
    }
  }

  .rating {
    p {
      font-family: Karla;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      /* identical to box height */

      text-align: center;
      letter-spacing: -0.32381px;

      color: #878b90;
    }
  }
}

.features {
  margin: auto auto 60px auto;
  width: 300px;
  height: 276px;
  ul {
    list-style-type: none;
    width: 312px;

    .feature1 .icone,
    .feature2 .icone,
    .feature3 .icone {
      transform: translate(-18%, 163%);
    }
    auto .feature1 .ft2 p,
    .feature2 .ft2 p,
    .feature3 .ft2 p {
      line-height: 28px;
      font-size: 15px;
    }

    .feature1 img,
    .feature2 img,
    .feature3 img {
      max-width: 27px;
    }
  }
}
.content1 {
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 804px;
  margin-bottom: 67px;

  .background {
    position: absolute;
    height: 405px;
    padding-top: 272px;
    left: 0px;
    right: 0px;
    top: 986px;
    background-color: #258aff;
    z-index: -1;

    .container {
      color: white;
      margin: auto;
      width: 75%;
      height: fit-content;

      .button1 {
        border: 0;
        background: #ffffff;
        border-radius: 5px;
        padding: 9px 60px 8px 59px;
        font-size: 12px;
        color: #258aff;
      }
    }

    img {
      position: absolute;
      z-index: 1;
      display: block;
      margin: auto;
    }

    .content1_1 {
      font-size: 15px;
      font-weight: bold;
      line-height: 18px;
      letter-spacing: 2.8125px;
      text-transform: uppercase;
      width: 32%;
    }
    .content1_2 {
      width: 80%;
    }
    .content1_3 {
      line-height: 32px;
      width: 88%;
    }
  }
}

.price {
  background-color: #192f48;
  color: #ffffff;
  padding-bottom: 50px;
  .price_1 {
    size: 15px;
    margin-left: 58px;
    padding-top: 48px;
  }
  .price_2 {
    size: 25px;
    line-height: 15px;
    padding-left: 58px;
    padding-right: 59px;
    font-weight: 700;
  }
  .formule {
    color: #e5e5e5;
    height: 32px;
    width: 39px;
    padding-left: 45px;
    font-size: 13px;
  }
  .formule-txt {
    color: #e5e5e5;
    padding-left: 44px;
    padding-right: 40px;
    font-size: 12px;
    line-height: 23px;
  }
  .box-price1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 57px;
    margin-bottom: 50px;
    margin-left: 58px;
    height: 515px;

    border: 1px solid #2b405a;
    border-radius: 6px;
    background-color: #2b405a;
  }
  .pricing {
    color: #ffffff;
    display: flex;
    padding-left: 45px;
    .pricing_1 {
      font-size: 15px;
      p {
        margin: 0;
      }
    }
    .pricing_2 {
      font-size: 30px;
      p {
        margin: 0;
        margin-top: 2px;
      }
    }
    .princing_3 {
      height: 17px;
    }
    .pricing_4 {
      font-size: 17px;
    }
  }
  ul {
    list-style-type: none;
    list-style-image: url(/assets/img/Path.svg);
  }
  li {
    span {
      color: #878b90;
      text-decoration: line-through;
    }
  }
  .txt-cmt {
    color: #878b90;
    font-size: 12px;
    padding-left: 40px;
  }
  .button-start {
    padding-left: 42px;
    button {
      background-color: #258aff;
      color: #ffffff;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 5px;
      width: 181px;
      font-size: 12px;
      border: 0;
    }
  }
  .charact {
    padding-left: 35px;
  }
  .box-price2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 57px;
    margin-bottom: 70px;
    margin-left: 58px;
    height: 515px;

    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #ffffff;
    color: #1f1f1f;
  }
  .pop {
    background-color: #4eab08;
    color: #ffffff;
    border: 1px solid #4eab08;
    border-radius: 13px;
  }
  .formule2 {
    display: flex;
    justify-content: space-between;
  }
}
