body {
  width: 100%;
  height: 100%;
  background: #e3eef8;
  font-family: "Karla", sans-serif;
}

header {
  height: 847px;
}

.logo {
  margin-left: 35px;
  margin-top: 11.5px;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50.52px;
  height: 14px;
  left: 35px;
  top: 9px;
  text-decoration: none;
}

.logo a p {
  font-style: normal;
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: -1px;
  color: #1f1f1f;
}

.logo .burger {
  width: 15px;
  height: 10px;
  left: 375px;
}

.hero {
  margin: auto;
  width: 361px;
  height: 276px;
}

.hero nav {
  display: none;
}

.hero .present {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
  margin-top: 45px;
  color: #666666;
}

.hero h1 {
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -4px;
  color: #1f1f1f;
}

.hero .create {
  width: 65%;
  margin: auto;
  text-align: center;
}

.hero .create span {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  /* or 167% */
  letter-spacing: -0.4px;
  color: #666666;
}

.hero .form {
  margin-top: 2%;
}

.hero .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  gap: 5px;
}

.hero .form :nth-child(1) {
  width: 65%;
  padding: 1.5%;
  border: none;
  border-radius: 3px;
}

.hero .form :nth-child(1) ::-webkit-input-placeholder {
  font-size: 10px;
}

.hero .form :nth-child(1) :-ms-input-placeholder {
  font-size: 10px;
}

.hero .form :nth-child(1) ::-ms-input-placeholder {
  font-size: 10px;
}

.hero .form :nth-child(1) ::placeholder {
  font-size: 10px;
}

.hero .form :nth-child(2) {
  background: #fc593b;
  border-radius: 5px;
  padding: 0px 20px;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 12px;
  text-align: center;
}

.hero .rating p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.32381px;
  color: #878b90;
}

.features {
  margin: auto auto 60px auto;
  width: 300px;
  height: 276px;
}

.features ul {
  list-style-type: none;
  width: 312px;
}

.features ul .feature1 .icone,
.features ul .feature2 .icone,
.features ul .feature3 .icone {
  -webkit-transform: translate(-18%, 163%);
          transform: translate(-18%, 163%);
}

.features ul auto .feature1 .ft2 p,
.features ul .feature2 .ft2 p,
.features ul .feature3 .ft2 p {
  line-height: 28px;
  font-size: 15px;
}

.features ul .feature1 img,
.features ul .feature2 img,
.features ul .feature3 img {
  max-width: 27px;
}

.content1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 300px;
  height: 804px;
  margin-bottom: 67px;
}

.content1 .background {
  position: absolute;
  height: 405px;
  padding-top: 272px;
  left: 0px;
  right: 0px;
  top: 986px;
  background-color: #258aff;
  z-index: -1;
}

.content1 .background .container {
  color: white;
  margin: auto;
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content1 .background .container .button1 {
  border: 0;
  background: #ffffff;
  border-radius: 5px;
  padding: 9px 60px 8px 59px;
  font-size: 12px;
  color: #258aff;
}

.content1 .background img {
  position: absolute;
  z-index: 1;
  display: block;
  margin: auto;
}

<<<<<<< HEAD
.price {
  background-color: #192f48;
  color: #ffffff;
  padding-bottom: 50px;
}

.price .price_1 {
  size: 15px;
  margin-left: 58px;
  padding-top: 48px;
}

.price .price_2 {
  size: 25px;
  line-height: 15px;
  padding-left: 58px;
  padding-right: 59px;
  font-weight: 700;
}

.price .formule {
  color: #e5e5e5;
  height: 32px;
  width: 39px;
  padding-left: 45px;
  font-size: 13px;
}

.price .formule-txt {
  color: #e5e5e5;
  padding-left: 44px;
  padding-right: 40px;
  font-size: 12px;
  line-height: 23px;
}

.price .box-price1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 57px;
  margin-bottom: 50px;
  margin-left: 58px;
  height: 515px;
  border: 1px solid #2b405a;
  border-radius: 6px;
  background-color: #2b405a;
}

.price .pricing {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 45px;
}

.price .pricing .pricing_1 {
  font-size: 15px;
}

.price .pricing .pricing_1 p {
  margin: 0;
}

.price .pricing .pricing_2 {
  font-size: 30px;
}

.price .pricing .pricing_2 p {
  margin: 0;
  margin-top: 2px;
}

.price .pricing .princing_3 {
  height: 17px;
}

.price .pricing .pricing_4 {
  font-size: 17px;
}

.price ul {
  list-style-type: none;
  list-style-image: url(/assets/img/Path.svg);
}

.price li span {
  color: #878b90;
  text-decoration: line-through;
}

.price .txt-cmt {
  color: #878b90;
  font-size: 12px;
  padding-left: 40px;
}

.price .button-start {
  padding-left: 42px;
}

.price .button-start button {
  background-color: #258aff;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  width: 181px;
  font-size: 12px;
  border: 0;
}

.price .charact {
  padding-left: 35px;
}

.price .box-price2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 57px;
  margin-bottom: 70px;
  margin-left: 58px;
  height: 515px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #ffffff;
  color: #1f1f1f;
}

.price .pop {
  background-color: #4eab08;
  color: #ffffff;
  border: 1px solid #4eab08;
  border-radius: 13px;
}

.price .formule2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
=======
.content1 .background .content1_1 {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
  width: 32%;
}

.content1 .background .content1_2 {
  width: 80%;
}

.content1 .background .content1_3 {
  line-height: 32px;
  width: 88%;
>>>>>>> nicolas
}

.content2 {
  margin: auto;
  width: 300px;
}

.content2 .content2_1 {
  line-height: 18px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
  color: #258aff;
}

.content2 .content2_2 {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -1.52632px;
}

.content2 .content2_3 {
  font-size: 15px;
  line-height: 32px;
  color: #666666;
}

.content2 .elem1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 .elem1 .img {
  width: 20px;
  height: 20px;
  background: #258aff;
  border-radius: 50%;
  padding: 13px;
}

.content2 .elem1 .elem1_1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.content2 .elem1 .elem1_2 {
  line-height: 28px;
  text-align: center;
  color: #666666;
  width: 90%;
  padding-bottom: 54px;
}

.content2 .bitmap img {
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */