@media only screen and (max-width: 600px) {
  body {
    position: relative;
    width: 428px;
    height: 6642px;
    background: #e3eef8;
    font-family: "Open Sans", sans-serif;
  }
  .hero .logo {
    position: absolute;
    width: 361px;
    height: 356px;
    left: 29px;
    top: 9px;
  }
  .hero .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50.52px;
    height: 14px;
    left: 35px;
    top: 9px;
    text-decoration: none;
  }
  .hero .logo a p {
    font-style: normal;
    font-family: Rubik;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: -1px;
    color: #1f1f1f;
  }
  .hero .logo .burger {
    width: 15px;
    height: 10px;
    left: 375px;
    top: 10px;
  }
  .hero .present {
    position: absolute;
    height: 12px;
    left: 30.37%;
    right: 24.77%;
    top: calc(50% - 12px / 2 - 3240px);
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #666666;
  }
  .hero h1 {
    position: absolute;
    left: 6.78%;
    right: 8.88%;
    top: 1.55%;
    bottom: 97.09%;
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    /* or 112% */
    text-align: center;
    letter-spacing: -4px;
    color: #1f1f1f;
  }
  .hero:nth-child(7) {
    position: absolute;
    left: 17.99%;
    right: 17.76%;
    top: 3.15%;
    bottom: 95.72%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    text-align: center;
    letter-spacing: -0.4px;
    color: #666666;
  }
  .hero .form {
    position: absolute;
    width: 241.3px;
    height: 28.67px;
    left: 93px;
    top: 300px;
  }
  .hero .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .form form input {
    left: 21.73%;
    right: 47.16%;
    top: 4.53%;
    bottom: 95.05%;
  }
  .hero .rating {
    position: absolute;
    left: 20.09%;
    right: 19.86%;
    top: 5.19%;
    bottom: 94.5%;
  }
  .hero .rating p {
    position: absolute;
    height: 12px;
    left: 21.6%;
    right: 21.6%;
    top: calc(50% - 12px / 2 - 4px);
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.32381px;
    color: #878b90;
  }
  .features {
    position: absolute;
    width: 312px;
    height: 399px;
    left: 58px;
    top: 421px;
  }
  .features lu {
    position: absolute;
    width: 312px;
    height: 399px;
    left: 58px;
    top: 421px;
  }
  .features lu .feature1 {
    position: absolute;
    width: 312px;
    height: 95px;
    left: 58px;
    top: 421px;
  }
  .features lu .feature2 {
    height: 94px;
    top: 573px;
  }
  .features lu .feature3 {
    height: 96px;
    top: 724px;
  }
  .content1 {
    position: absolute;
    width: 428px;
    height: 728px;
    left: 0px;
    top: 886px;
  }
  .content1 .content1_1 {
    position: absolute;
    height: 36px;
    left: 14.49%;
    right: 41.12%;
    top: calc(50% - 36px / 2 - 2053px);
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .content1 .content1_2 {
    position: absolute;
    left: 13.79%;
    right: 4.91%;
    top: 19.65%;
    bottom: 79.45%;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    /* or 100% */
    letter-spacing: -2.52632px;
    color: #ffffff;
  }
  .content1 .content1_3 {
    position: absolute;
    left: 13.79%;
    right: 1.87%;
    top: 20.84%;
    bottom: 77.24%;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    /* or 213% */
    color: #e4e4e4;
  }
}
/*# sourceMappingURL=style.css.map */